.videos {
    height: 100%;
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* 요소 간의 간격 */
    overflow-y: auto; /* 세로 스크롤 허용 */
    max-height: 100vh; /* 뷰포트 높이를 넘기면 스크롤 */
    margin-bottom: -15px;
    margin: 10px auto;
    .video-box {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
        height: auto;
        width: 350px;
        .video-thumb {
            border-radius: 20px;
            height: 200px;
            width: 100%;
        }
        .video-sub {
            padding: 5px;
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 5px;
            h4 {
                font-weight: 600;
            }
        }
    }
}