header
    a(href="/").header.logo
        i.fab.fa-youtube
    nav 
        ul
            if loggedIn
                li 
                    a(href=`/user/profile/${loggedInUser._id}`)
                        if loggedInUser.avatarUrl === ""
                            span 😀
                        else
                            img.header__avatar(src="/" + loggedInUser.avatarUrl)
                li 
                    a(href="/video/upload") Upload
                li 
                    a(href="/user/logout") Logout
            else
                li 
                    a(href="/join") Join
                li 
                    a(href="/login") Login