extends layout

block content
    if errorMessage
        span=errorMessage
    form(method="post") 
        input(name="email", type="email", required placeholder="Email" value=loggedInUser.email)
        input(name="name", type="text", required placeholder="Name" value=loggedInUser.name)
        input(name="username", type="text", required placeholder="Username" value=loggedInUser.username)
        input(name="password", type="password", required placeholder="Password")
        input(type="submit", value="Update")
        br
        a(href="change-password") Change Password