extends layout.pug
include mixins/video.pug

block content
    div 
        ul 
            li=loggedInUser.email
            li=loggedInUser.name
            li=loggedInUser.username
    ul
        li 
            a(href="edit") Edit
        li 
            a(href="delete") Delete