extends ../layout 

block content 
    if errorMessage
        span=errorMessage
    form(method="post") 
        input(name="password", type="password", required placeholder="Current Password")
        input(name="password2", type="password", required placeholder="New Password")
        input(name="password3", type="password", required, placeholder="Confirm Password")
        input(type="submit", value="Change Password")