extends ../layout 

block content 
    div.create-password
        div.form-box
            div.form-box__border
                div.error-msg-box
                    if errorMessage
                        span=errorMessage
                form(method="post") 
                    input(name="password", type="password", required placeholder="Password")
                    input(name="password2", type="password", required, placeholder="Confirm Password")
                    input(type="submit", value="Create Password")