extends ../layout 

block content 
    div.form-box
        div.form-box__border
            div.error-msg-box
                if errorMessage
                    span=errorMessage
            form(method="post") 
                input(name="email", type="email", required placeholder="Email")
                input(name="name", type="text", required placeholder="Name")
                input(name="username", type="text", required placeholder="Username")
                input(name="password", type="password", required placeholder="Password")
                input(name="password2", type="password", required, placeholder="Confirm Password")
                input(type="submit", value="Join")
        div.other-method
            a(href="/login") Login