extends ../layout 

block content
    div.form-box
        div.form-box__border
            div.error-msg-box
                if errorMessage
                    span=errorMessage
            form(method="post")
                input(name="username", type="text", required, placeholder="Username")
                input(name="password", type="password", required, placeholder="Password")
                input(type="submit", value="Login")
        div.other-method
            a(href="/user/github/start") GitHub Login
            a(href="/join") Create an account